<div class="container" *ngIf="isLogin">
    <form [formGroup]="loginForm">
        <label>User Name</label>
        <input type="text" class="form-control" formControlName="username" required>
        <label>Password</label>
        <input type="password" class="form-control" formControlName="password" required>
        <button type="submit" class="btn btn-info" (click)='login()' [disabled]="!loginForm.valid">Login</button>
    </form>
    <nav>
        <a routerLink='/profile'>Create Profile</a>
        <span (click)='forgotPassword()'><u>fotgotPassword</u></span>
    </nav>
</div>

<div class="container" *ngIf="!isLogin">
        <label>Email</label>
        <input type="text" class="form-control" formControlName="email" required>
        <button type="submit" class="btn btn-info" (click)='sendEmail()'>Send Email</button>
        <a routerLink=''>Back</a>
</div>
